/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer{
    margin-top: 5%;
    background-image: url(../imagenes/SIMBOLO.jpg);
    h4{
        font-family: 'Heebo', sans-serif;
        margin-left: 5px;
    }
    }
/* ---------------------------- textos del footer --------------------------- */
    #parrafos-footer{
        padding: 3px;
        font-family: 'Heebo', sans-serif;
        padding-bottom: 5px;
        display: flex;
        flex-direction: column
}

    /* ----------------------------- mapa del footer ---------------------------- */
    footer{
        div{
            display: flex;
            justify-content: end;
            padding-right: 5px;
            padding-bottom: 5px;
            }
    } 