/* -------------------------------------------------------------------------- */
/*                                  CONSULTAS                                 */
/* -------------------------------------------------------------------------- */

*{
    margin: 0%;
    padding: 0%;
}


#info-consultas{
    h4{
        padding: 5px;
        display: flex;
        justify-content: center;
    }
    p{
        margin-left: 1%;
        display: flex;
        justify-content: flex-start;
    }
}