/* -------------------------------------------------------------------------- */
/*                                   footer                                   */
/* -------------------------------------------------------------------------- */

footer{
    background-color: purple;
    section{
        padding: 5%;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-column-gap: 1px;
            #parrafos-footer{
                color: white;
                font-family: 'Heebo', sans-serif;
                display: flex;
                flex-direction: column;
                justify-content: center;
                #mapa{
                }
            }
            h4{
                display: flex;
                flex-direction: column;
                justify-content: center;
                font-family: 'Heebo', sans-serif;
                margin-left: 5px;
                color: white;
            }
        }
    }


