/* -------------------------------------------------------------------------- */
/*                                   HEADER                                   */
/* -------------------------------------------------------------------------- */
    header{
        background-color: #6e5dcf;
        }


        #titulo1 {
            text-align: center;
            font-family: 'Heebo', sans-serif;
            font-size: 2em;
            color: white;
        }

        #subtitulo1{
            text-align: center;
            font-family: 'Heebo', sans-serif;
            font-size: 1em;
            color: white;
        }

/* --------------------------- barra de navegacion -------------------------- */

nav{
    background-color: #c27dfc;
    color: white;
    display: flex;
    justify-content: center;
    padding: 10px;
    ul{
        width: 60%;
        display: flex;
        justify-content: space-around;
        a{
            font-family: 'Heebo', sans-serif;
            text-decoration: none;
            color: white;
            &:hover{
                border-bottom: 2px solid blue;
            }
        }
    }
}